.row-fluid
  .span12
    = simple_form_for @task, html: {class: 'form-inline' } do |f|
      = f.input :description, input_html: {class: "span12 task-title-container"}, label: false, placeholder: "What can you say about your day?"
      %button.btn.btn-info.pull-right.insert-task
        %i.icon-level-up.icon-rotate-90.icon-large

%br
.row-fluid
  .span12
    .well.tasks-container
      %ul#task-list
        - @tasks.each do |task|
          %li
            .well.task-item
              %div
                = link_to task, :method=>:delete, class: "pull-left delete-task" do
                  = content_tag(:i, "",class: "icon-trash")
                %span.task-title.pull-left
                  = task.description